.descTitle {
    color: #000;
    font-weight: lighter;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    text-wrap: normal;
}

.descText {
    color: #999;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    background-color: white;
}

.imgDesc {
    width: 80%;
}