.vContain{
    padding-top: 20px;
    align-content: center;
}
.vtitle{
    color: white;
    font-size: large;
    padding-top: 10px;
    padding-bottom: 15px;
}
.bt-social{
    padding-left: 20%;
    padding-top: 30%;
    /*padding-bottom:150%;*/
    background-color: white;
    align-content: center;
}
.imgVoucher{
    width: 200px;
    height: 200px;
    align-content: center;
}
.bt-g{
    width: 245px;
    align-content: center;
}
.bt-f{
    width: 245px;
    align-content: center;
}
.bt-t{
    width: 245px;
    align-content: center;
}
.bt-i{
    width: 245px;
    align-content: center;
}